{% extends "base.html" %}
{% block title %}Tag: {{ tag.name }}{% endblock %}
{% block content %}
<h1>Posts tagged "{{ tag.name }}"</h1>

{% for post in posts %}
<div class="post-card">
    <h3><a href="{% url 'blog:post-detail' post.slug %}">{{ post.title }}</a></h3>
    <!-- BUG TRIGGER: N+1 on post.author.user -->
    <p class="meta">By {{ post.author.user.get_full_name }} | {{ post.published_at|date:"M d, Y" }}</p>
    {% if post.excerpt %}
    <p>{{ post.excerpt }}</p>
    {% endif %}
</div>
{% endfor %}
{% endblock %}
